<input type="text" [(ngModel)]="_ricercaCliente">
<table>
  <tr>
      <th>Nome Cliente</th>
  </tr>
  <tr *ngFor="let cliente of _clienti"
      (click)="getCommesseFromClientId(cliente)">
    <td *ngIf="cliente.nome.toLowerCase().includes(_ricercaCliente.toLowerCase())">{{cliente.nome}}</td>
  </tr>
</table>

<input type="text" [(ngModel)]="_ricercaCommessa">
<table>
  <tr>
      <th>Titolo Commessa</th>
  </tr>
  <tr *ngFor="let commessa of _commesse"
      (click)="setCommessaSelezionata(commessa)">
    <td *ngIf="commessa.nome.toLowerCase().includes(_ricercaCommessa.toLowerCase())">{{commessa.nome}}</td>
  </tr>
</table>




    
    
 

<hr>
<form [formGroup]="p" (ngSubmit)="onSubmit()">
  
  <table>
      <tr>
        <th>Data Intervento</th>
        <th>Ore Lavoro</th>
        <th>Ore Viaggio</th>
        <th>Spese</th>
        <th>Chilometri</th>
      </tr>
      <tr>
        <td><input type="date"   formControlName="dataintervento" ></td>
        <td><input type="number" formControlName="totalelavoro" ></td>
        <td><input type="number" formControlName="totaleviaggio" ></td>
        <td><input type="number" formControlName="spese"></td>
        <td><input type="number" formControlName="km"></td>
        <!-- <td><input type="number" formControlName="km"  [attr.disabled]="(_resocontoLavoro.tipologialavoro == 2) ? '' : null"></td> -->
      </tr>
    </table>
    <div formArrayName="scontrini"
      *ngFor="let item of p.controls['scontrini'].controls; let i = index">
      <div [formGroupName]="i">
        <input type="file" formControlName='body'>
      </div>
    </div>
    <button type="button" (click)="aggiungiNuovoScontrino()">Aggiungi nuovo scontrino</button>
    <hr>
    <input type="text" formControlName="info">
    <button type="submit" [disabled]="!p.valid">Submit</button>
    
</form>