.grid-container {
  margin: 5px;
  border-radius: 3px;
  border: 1px solid gray;
  display: grid;
  padding: .5em;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 3fr 5fr 4fr;
  max-height: 90vh;
  position: relative;
}

.box-style {
  margin: 3px;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
}

.clienti {
  grid-column: 1/2;
  grid-row: 1/3;
}

.commesse {
  grid-column: 2/3;
  grid-row: 1/3;
}

.resoconto-lavoro {
  grid-column: 3/4;
  grid-row: 1/3;
  position: relative;
}

.raccolta-lavori {
  grid-column: 1/4;
  grid-row: 3/4;
}

.list-item {
  transition: all .3s;
  width: 100%;
}

.list-item:hover {
  background: lightgreen;
}

.selected-row {
  background: rgb(195, 233, 195);
  color: forestgreen;
  transform: scale(1);
  text-align: right;
  padding-right: 3em;
  border-radius: 5px;
}

.titolo-resoconto-lavoro {
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(175, 194, 231);
  text-align: center;
  margin: -10px;
  margin-bottom: 10px;
}

.history-table {
  width: 100%;
}

.history-tbody {
  display: block;
  height: 50px;
  overflow: auto;
}

.body-scrollable {
  margin-bottom: 0px;
}

.body-scrollable tbody {
  display: block;
  max-height: 150px;
  overflow-y: scroll;
}

.body-scrollable thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


/* scontrini */
.scontrino-container {
  border: 1px solid cornflowerblue;
  box-shadow: 2px 1px 5px cornflowerblue;
  border-radius: 3px;
  padding: 5px;
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr .3fr 7fr .3fr;
  grid-gap: 5px;
}

.titolo-scontrino {
  grid-row: 1/2;
  background: cornflowerblue;
  margin: -5px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

.scontrino-rimuovi {
  grid-row: 4/5;
}

.scontrino-img {
  grid-row: 3/4;
}

.scontrino-input {
  grid-row: 2/3;
}

/* fine scontrini*/


.cover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  grid-column: 3/4;
  grid-row: 1/3;
  z-index: 1;
  border-radius: 5px;
  border: 2px solid black;
}

.cover div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
}

.raccolta-lavori-mobile {
    display: none;
}





@media only screen and (max-width: 767px) {
  .grid-container {
    margin: 5px;
    border-radius: 3px;
    border: 1px solid gray;
    display: grid;
    padding: .5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.3fr 1.3fr 3fr 2fr;
    max-height: 200vh;
    position: relative;
  }

  .clienti {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .commesse {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .resoconto-lavoro {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .cover {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .raccolta-lavori {
    display: none;
  }

  .raccolta-lavori-mobile {
    grid-column: 1/4;
    grid-row: 4/5;
    font-size: .7em;
    text-align: left;
    display: inline;
  }

  .raccolta-lavori th {
    padding: 0px;
  }

  .resoconto-lavoro table th {
    font-size: .7em;
    text-align: center;
  }

  .resoconto-lavoro table tr input {
    font-size: .7em;
  }

  .body-scrollable-mobile thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .body-scrollable-mobile tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
  }

  /* scontrini*/
  .scontrino-container {
    border: 1px solid red;
    box-shadow: 2px 1px 5px cornflowerblue;
    border-radius: 3px;
    padding: 5px;
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .3fr 7fr .3fr;
    grid-gap: 5px;
    width: 60px;
  }

  .titolo-scontrino {
    grid-row: 1/2;
    background: cornflowerblue;
    margin: -5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    max-width: 100%;
  }

  .scontrino-rimuovi {
    grid-row: 3/4;
    grid-column: 1/1;
  }

  .scontrino-img {
    grid-row: 4/5;
  }

  .scontrino-input {
    grid-row: 2/3;
  }

  /* fine scontrini*/
}
