.wrapper {
    width: 100%;
    height: 92.7vh;
    line-height: 92.7vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: rgb(189, 189, 189);
}

.home-background{

}